* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 10rem;
    min-width: 120rem;
    max-width: 120rem;
    background-color: #004AAD;
}

.menu {
    display: flex;
    padding-left: 2rem;
}

.menu button {
    display: flex;
    width: 12rem;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    background-color: #004AAD;
}

.menu a {
    display: flex;
    width: 100%;
    height: 2.5rem;
    outline: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.link {
    color: white;
}

.linkReq {
    background-color: white;
    color: #004AAD;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.requisicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
    width: 60rem;
}

.requisicao input {
    height: 1.5rem;
    border-radius: .3rem;
    outline: none;
    border-width: thin;
    padding-left: .5rem;
}

.dadosPrincipais {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
}

.numeroRequisicao, .tituloRequisicao {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    padding-left: 4.5rem;
}

.camposDados, .boxProdutos {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    width: 55rem;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border: 1px solid #004AAD;
    border-radius: 2rem;
}

.departamento, .funcionario {
    display: flex;
    gap: 1rem;
}

.departamento div {
    display: flex;
    flex-direction: column;
    gap: .05rem;
}

.idDep, .idFunc {
    width: 5rem;
}

.nomeDep, .nomeFunc {
    width: 33rem;
}

.dataReq, .cargo {
    width: 8rem;
}

.funcionario div {
    display: flex;
    flex-direction: column;
    gap: .05rem;
}

.motivos {
    display: flex;
    gap: 3rem;
}

.motivos img {
    display: flex;
    width: 2.3rem;
}

.selectMotivo {
    display: flex;
    flex-direction: column;
}

.selectMotivo div {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.selectMotivo select {
    width: 10.5rem;
    height: 2rem;
}

.radios {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 1.8rem;
    width: 17rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: .3rem;
}

.radios input {
    width: 1.3rem;
}

.radios div {
    gap: .2rem;
}

.itensRequisicao {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
}

.boxRequisicao {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.produtoRequisicao {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
}

.produtoRequisicao input {
    height: 2rem;
}

.produtoRequisicao div {
    display: flex;
    flex-direction: column;
}

.produtoRequisicao img {
    display: flex;
    width: 2.3rem;
}

.codProduto {
    width: 6rem;
}

.descricaoProduto {
    width: 17rem;
}

.estoqueProduto {
    width: 5rem;
}

.quantidade {
    width: 5rem;
}

.btnAdicionar {
    display: flex;
    width: 7rem;
    height: 2.2rem;
    border-radius: .5rem;
    background-color: #004AAD;
    outline: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.tabela {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela th {
    width: 8.2rem;
    background-color: #4e81c4;
    color: white;
}

.valorFinal {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    padding-right: 5.2rem;
    gap: .75rem;
}

.buttons {
    display: flex;
    width: 11rem;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.btnCancelar {
    display: flex;
    width: 5rem;
    height: 2.2rem;
    border-radius: .5rem;
    background-color: #b8bcc2;
    outline: none;
    border: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.btnGravar {
    display: flex;
    width: 5rem;
    height: 2.2rem;
    border-radius: .5rem;
    border: none;
    background-color: #004AAD;
    outline: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
